body {
  background: #e4e4e4;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#board {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 2000px; /* Set a perspective value for 3D effect */
  background-color: rgb(245, 247, 250);
}

.meme-img {
  width: 10px;
  height: 10px;
}

.card {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  transform: translateX(-40%) translateY(-60%) translateZ(0) rotateY(0deg); /* Apply a 3D transform */
  transition: transform 0.5s; /* Add a smooth transition */
  backface-visibility: hidden; /* Hide the back of the card */
  transform-style: preserve-3d; /* Preserve 3D transformations */
  cursor: Grab;
}

.card:nth-child(even) {
  transform: translateX(-90%) translateY(-50%) translateZ(-20px) rotateY(0deg); /* Shift even cards back on the Z-axis */
}

/* .card-container {
  position: relative;
}

.card {
  background-color: #fff;
  border-radius: 17px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.card1 {
  width: 500px;
  height: 500px;
  transform: translate(-50%, -55%) translate(-0px, -20px);
  z-index: 3;
  box-shadow: 0 0 15px -6px #000000;
}

.card2 {
  width: 550px;
  height: 350px;
  z-index: 2;
  transform: translate(-50%, -56%) translate(-0px, -20px);
  box-shadow: 0 0 11px -6px #000000;
}

.card3 {
  width: 590px;
  height: 400px;
  z-index: 1;
  transform: translate(-50%, -50%) translate(0px, -40px);
  box-shadow: 0 0 10px -6px #000000;
} */

.l-container {
  background: #ffffff;
  width: 100%;
  max-width: 500px;
  padding: 20px 25px;
  box-sizing: border-box;
  border-radius: 17px;
  box-shadow: 0 0 13px -6px #000000;
  margin: 0px 20px;
  overflow: auto;
}

@media screen and (max-width: 995px), screen and (max-height: 400px) {
  .l-container {
    height: 70vh;
  }
}

.l-container-logo {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 40px;
  margin: 20px 0px 50px 0px;
  background: url(/assets/img/logos/logo-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.l-container-info > p {
  text-align: left;
}

.midbold {
  font-weight: 550;
}

.l-container-start {
  display: flex;
  justify-content: center;
}

.start-button {
  font-family: "Montserrat";
  font-weight: bold;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 0px;
  width: 100%;
  margin: 20px 0px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.start-button:hover {
  scale: 1;
  transition: 0.3s;
}

.start-button:active {
  scale: 0.8;
  transition: 0.3s;
}

.l-container-credits {
  text-align: center;
  font-weight: 600;
}

.l-container-credits-images {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.l-container-credits-images-first-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.l-container-credits-images-second-row {
  display: flex;
  flex-direction: row;
}

.credit-image-first-row {
  width: 100%;
  padding-top: 20%;
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center center;
}

.credit-image-second-row {
  width: 100%;
  padding-top: 30%;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center center;
}

.credit-image-first-row.logo-izi {
  background-image: url("/assets/img/logos/logo-izi-solutions.png");
}

.credit-image-first-row.logo-represent {
  background-image: url("/assets/img/logos/logo-represent-jezelf.png");
}

.credit-image-second-row.logo-njr {
  background-image: url("/assets/img/logos/logo-njr.png");
}

.credit-image-second-row.logo-wemagine {
  background-image: url("/assets/img/logos/logo-wemagine.png");
}

.credit-image-second-row.logo-fnv-yu {
  background-image: url("/assets/img/logos/logo-fnv-yu.svg");
}
.bubbles-left {
  position: absolute;
  overflow: hidden;
  top: -10%; /* Adjusted top position */
  left: -6%; /* Adjusted left position */
  width: 40vw; /* Adjusted width */
  height: 40vh; /* Adjusted height */
}

.bubbles-left-svg {
  background: url("/assets/img/bubbles-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%; /* Set width to 100% to fill the container */
  height: 100%; /* Set height to 100% to fill the container */
}

.bubbles-right {
  position: absolute;
  overflow: hidden;
  top: -10%; /* Adjusted top position */
  right: -6%; /* Adjusted right position */
  width: 40vw; /* Adjusted width */
  height: 40vh; /* Adjusted height */
}

.bubbles-right-svg {
  background: url("/assets/img/bubbles-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%; /* Set width to 100% to fill the container */
  height: 100%; /* Set height to 100% to fill the container */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
